<app-page-standard [loading]="loading"  backButtonDefaultHref="apps/doctors" class="ion-page" [showProfileBtn]="true" [pageTitle]="'Dr. ' + doctor?.profile?.firstName + ' ' + doctor?.profile?.middleName + ' ' + doctor?.profile?.lastName">
	<ng-container main-content>
		<ion-img
			class="ion-margin-bottom"
			src="{{doctor?.profile?.avatar}}"
			alt="{{doctor?.profile?.firstName + ' ' + doctor?.profile?.middleName + ' ' + doctor?.profile?.lastName}}"
		></ion-img>
		<div [innerHTML]="doctor?.biography"></div>
		<h4>Clinic Schedules:</h4>
		@for (item of doctor?.availabilities; track item; let index = $index) {
			<ion-card >
				<ion-card-header>
				  <ion-card-subtitle>{{ item.day }}</ion-card-subtitle>
				</ion-card-header>
				<ion-card-content>
				  <p><strong>Start Time:</strong> {{ item.startTime | date: 'MMMM d, y h:mm a' }}</p>
				  <p><strong>End Time:</strong> {{ item.endTime  | date: 'MMMM d, y h:mm a'}}</p>
				</ion-card-content>
			  </ion-card>
		}

		<ion-modal trigger="create-appointment" backdropDismiss="true">
			<ng-template>
				<ion-header>
					<ion-toolbar>
						<ion-title>Modal</ion-title>
						<ion-buttons slot="end">
						<ion-button (click)="modal.dismiss()">
							<ion-icon [icon]="close"></ion-icon>
						</ion-button>
						</ion-buttons>
					</ion-toolbar>
				</ion-header>
			  <ion-content class="ion-padding">
				<form [formGroup]="myForm" enctype="multipart/form-data">
					<div class="input-wrapper ion-margin-bottom">
						<ion-label>Appointment Date <ion-text color="danger">(Required)</ion-text></ion-label>
						<ion-input
							readonly
							[value]="appointmentDateDisplay"
							formControlName="appointment_date"
							(click)="showDatePicker = true">
						</ion-input>
					</div>
					<div class="input-wrapper ion-margin-bottom">
						<ion-label>Time Slot <ion-text color="danger">(Required)</ion-text></ion-label>
						<ion-select [value]="selectedSlot" (ionChange)="onSlotChange($event)" formControlName="time_slot" interface="popover">
							<ion-select-option 
								*ngFor="let slot of availableSlots" 
								[value]="slot.time"
								[disabled]="slot.disabled">
							  {{ slot.time }}
							</ion-select-option>
						  </ion-select>
					</div>
					<ion-button 
						expand="block" 
						color="primary" 
						(click)="showValidateModal()" 
						shape="round"
						[disabled]="myForm.invalid || loading"
					>Submit</ion-button>
				</form>
			  </ion-content>
			</ng-template>
		</ion-modal>

		<!-- agree -->
		<ion-modal #validateAppointment>
			<ng-template>
				<ion-header>
					<ion-toolbar>
						<ion-title>Modal</ion-title>
						<ion-buttons slot="end">
						<ion-button (click)="modal.dismiss()">
							<ion-icon [icon]="close"></ion-icon>
						</ion-button>
						</ion-buttons>
					</ion-toolbar>
				</ion-header>
			  <ion-content class="ion-padding">
				<h3>Are you sure you want to proceed?</h3>
				  <ion-button 
					expand="block" 
					color="light" 
					(click)="closeModal()" 
					shape="round"
				>Close</ion-button>
				<ion-button expand="block" color="primary" (click)="confirm()" shape="round">Proceed</ion-button>
			  </ion-content>
			</ng-template>
		  </ion-modal>

		<ion-modal [isOpen]="showDatePicker" (didDismiss)="showDatePicker = false">
		<ng-template>
			<ion-datetime
			presentation="date"
			(ionChange)="onDateChange($event)"
			[value]="myForm.get('appointment_date')?.value"
			show-default-buttons="true"
			[min]="today"
			></ion-datetime>
		</ng-template>
		</ion-modal>
	</ng-container>
	<ng-container footer-action>
		<ion-button 
			expand="block" 
			color="primary" 
			shape="round"
			id="create-appointment"
		
		>Create Appointment</ion-button>
	</ng-container>
</app-page-standard>