<ion-header>
  <ion-toolbar color="white">
      <ion-buttons slot="start">
          @if (showBackButton()) {
              <ion-back-button
                  text=""
                  name="arrow-back-outline"
                  [defaultHref]="backButtonDefaultHref()"
                  color="primary"></ion-back-button>
          }
      </ion-buttons>
      @if (pageTitle()) {
          <ion-title>{{ pageTitle() }}</ion-title>
      }
      @if(showProfileBtn()){
            <ion-buttons slot="end" (click)="presentActionSheet()">
                <ion-icon [icon]="settingsIcon" color="primary"></ion-icon>
            </ion-buttons>
        }
  </ion-toolbar>
  @if (loading()) {
      <ion-progress-bar type="indeterminate" class="loading-bar"></ion-progress-bar>
  }
</ion-header>

<ion-content [fullscreen]="true" forceOverscroll="false" color="white">
  <ng-content select="[main-content]"></ng-content>
</ion-content>
@if(showFooter()) {
    <ion-footer>
        <ion-toolbar color="white">
            <ng-content select="[footer-action]"></ng-content>
        </ion-toolbar>
      </ion-footer>
      
}
