<app-page-standard [loading]="loading"  class="ion-page" [showBackButton]="false" [showProfileBtn]="false" [pageTitle]="'Doctors'">
	<ng-container main-content>
		<h1 class="ion-margin-bottom">Select your prefered doctor for an appointment.</h1>
		<br />
		<ion-list>
			@for (item of doctorList; track item; let index = $index) {
			<ion-item [routerLink]="['/apps/doctor-detail', item.id]">
			  <ion-avatar slot="start">
				@if(item.profile.avatar) {
					<img [src]="item.profile.avatar" alt="avatar" />
				} @else {
					<ion-label>
						{{ item.profile.firstName | initials: item.profile.lastName }}
					</ion-label>
				}
				
			  </ion-avatar>
			  <ion-label>{{ item.profile.firstName | titlecase }} {{ item.profile.middleName | titlecase }} {{ item.profile.lastName | titlecase }}</ion-label>
			</ion-item>
			}
		  </ion-list>
		  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
			<ion-infinite-scroll-content></ion-infinite-scroll-content>
		  </ion-infinite-scroll>
	</ng-container>
</app-page-standard>