<app-page-standard [loading]="loading" backButtonDefaultHref="login" class="ion-page">
	
	<ng-container main-content>
		<h1 class="ion-margin-bottom">Create your account.</h1>
			<div class="form-container">
				<form [formGroup]="myForm">
					<div class="input-wrapper ion-margin-bottom">
						<ion-label>E-mail</ion-label>
						<ion-input  
							type="text"  
							formControlName="email" 
							inputmode="email" 
							required="true"
							[errorText]="showError && myForm.get('email')?.invalid ? 'Invalid email' : ''"
						></ion-input>
					</div>
					<div class="input-wrapper">
						<ion-label>Password</ion-label>
						<ion-input type="password" inputmode="text" formControlName="password" required="true" minlength="8"></ion-input>
					</div>
					
				</form>
			</div>
	</ng-container>
	<ng-container footer-action>
		<ion-button 
			expand="block" 
			color="primary" 
			(click)="onRegister()" 
			shape="round"
			[disabled]="myForm.invalid || loading"
		>Register</ion-button>
	</ng-container>
	
	
</app-page-standard>