<app-page-standard [loading]="loading"  [showBackButton]="false" class="ion-page" [showProfileBtn]="true" [pageTitle]="'Appointments'" [showFooter]="false">
	<ng-container main-content>
		<ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
			<ion-refresher-content></ion-refresher-content>
		  </ion-refresher>
		<h4 class="ion-margin">Here are the list of your appointments.</h4>
		@for (item of appointments; track item?.doctor?.id) {
			<ion-card>
				<ion-card-header>
				  <ion-card-title>
					Dr. {{ item?.doctor?.userProfile.firstName }} {{ item?.doctor?.userProfile.middleName }} {{ item?.doctor?.userProfile.lastName }}
				  </ion-card-title>
				  <ion-card-subtitle>
					{{ item?.doctor?.Specialization.name }}
				  </ion-card-subtitle>
				</ion-card-header>
			  
				<ion-card-content>
				  <ion-list>
					@for (appt of item.appointments; track appt.id) {
					  <ion-item [color]="
					  appt.status === 'pending' ? 'secondary' :
					  appt.status === 'cancelled' ? 'customerror' :
					  appt.status === 'confirmed' ? 'customsuccess' :
					  ''
					">
						<ion-label>
						  <h3><strong>Date :</strong> {{ appt.appointmentDate | date: 'MMMM d, y' }}</h3>
						  <p><strong>Time:</strong> {{ appt.timeslot }}</p>
						  <p><strong>Queue #:</strong> {{ appt.queueNumber }}</p>
						  <p><strong>Status:</strong> {{ appt.status | titlecase}}</p>
						  @if(appt.remarks) {
							<p><strong>Remarks:</strong> {{ appt.remarks}}</p>
						  }
						</ion-label>
				
					  </ion-item>
					  
					}
				  </ion-list>
				</ion-card-content>
			  
			  </ion-card>
		}		

	</ng-container>
</app-page-standard>