<app-page-standard [loading]="loading"  [showBackButton]="false" class="ion-page" [showProfileBtn]="true" [pageTitle]="'Appointments'" [showFooter]="false">
	<ng-container main-content>
		<ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
			<ion-refresher-content></ion-refresher-content>
		  </ion-refresher>
		<h4 class="ion-margin">Here are the list of your appointments.</h4>
		@for (item of appointments; track item?.doctor?.id) {
			<ion-card>
				<ion-card-header>
				  <ion-card-title>
					Dr. {{ item?.doctor?.userProfile.firstName }} {{ item?.doctor?.userProfile.middleName }} {{ item?.doctor?.userProfile.lastName }}
				  </ion-card-title>
				  <ion-card-subtitle>
					{{ item?.doctor?.Specialization.name }}
				  </ion-card-subtitle>
				</ion-card-header>
			  
				<ion-card-content>
				  <ion-list>
					@for (appt of item.appointments; track appt.id) {
					  <ion-item [color]="
					  appt.status === 'pending' ? 'secondary' :
					  appt.status === 'cancelled' ? 'customerror' :
					  appt.status === 'confirmed' ? 'customsuccess' :
					  ''
					">
						<ion-label>
						  <h3><strong>Date :</strong> {{ appt.appointmentDate | date: 'MMMM d, y' }}</h3>
						  <p><strong>Time:</strong> {{ appt.timeslot }}</p>
						  <p><strong>Queue #:</strong> {{ appt.queueNumber }}</p>
						  <p><strong>Status:</strong> {{ appt.status | titlecase}}</p>
						  @if(appt.remarks) {
							<p><strong>Remarks:</strong> {{ appt.remarks}}</p>
						  }
						</ion-label>
						@if(appt.status !== "cancelled" && appt.status !== "completed" && appt.status !== "confirmed") {
							<ion-buttons slot="end">
								<ion-icon [icon]="ellipsesVertical" color="primary" (click)="presentActionSheet(appt.id, appt, item.doctor)"></ion-icon>
							</ion-buttons>
						}
					  </ion-item>
					  
					}
				  </ion-list>
				</ion-card-content>
			  
			  </ion-card>
		}		
		<ion-modal #dateModal [keepContentsMounted]="true">
			<ng-template>
				<ion-datetime
					[(ngModel)]="selectedDate"
					presentation="date"
					(ionChange)="onDateChange($event)"
					[min]="today">
				</ion-datetime>
			</ng-template>
			
		</ion-modal>
		<ion-modal #updateAppointment>
			<ng-template>
			  <ion-header>
				<ion-toolbar>
				  <ion-buttons slot="start">
					<ion-button (click)="cancel()">Cancel</ion-button>
				  </ion-buttons>
				  <ion-title>Dr. {{doctor?.userProfile?.firstName + ' ' + doctor?.userProfile?.middleName + ' ' + doctor?.userProfile?.lastName}}</ion-title>
				  <ion-buttons slot="end">
					<ion-button (click)="changeAppointment(selectedAppointment.id)" [strong]="true">Update</ion-button>
				  </ion-buttons>
				</ion-toolbar>
			  </ion-header>
			  <ion-content class="ion-padding">
				<form [formGroup]="myForm" enctype="multipart/form-data">
					<div class="input-wrapper ion-margin-bottom">
						<ion-label>Appointment Date <ion-text color="danger">(Required)</ion-text></ion-label>
						<ion-input
							readonly
							[value]="appointmentDateDisplay"
							formControlName="appointment_date"
							(click)="showDatePicker = true">
						</ion-input>
					</div>
					<div class="input-wrapper ion-margin-bottom">
						<ion-label>Time Slot <ion-text color="danger">(Required)</ion-text></ion-label>
						<ion-select [value]="selectedSlot" (ionChange)="onSlotChange($event)" formControlName="time_slot" interface="action-sheet">
							<ion-select-option *ngFor="let slot of availableSlots" [value]="slot">
							  {{ slot }}
							</ion-select-option>
						  </ion-select>
					</div>
					<div class="input-wrapper ion-margin-bottom">
						<ion-label>Remarks</ion-label>
						<ion-textarea placeholder="Input your remarks here" formControlName="remarks"></ion-textarea>
					</div>
				</form>
			  </ion-content>
			</ng-template>
		</ion-modal>
	</ng-container>
	
</app-page-standard>