<ion-tabs>
  <ion-tab-bar slot="bottom">
      <ion-tab-button tab="profile">
          <div class="indicator">
            <ion-icon [icon]="profileIcon"></ion-icon>
          </div>
          Profile
      </ion-tab-button>
      <ion-tab-button tab="doctors" [disabled]="isProfileUpdated === 0">
          <div class="indicator">
            <ion-icon [icon]="doctorsIcon"></ion-icon>
          </div>
          Doctor
      </ion-tab-button>
      <ion-tab-button tab="appointments" [disabled]="isProfileUpdated === 0">
          <div class="indicator">
            <ion-icon [icon]="appointmentsIcon"></ion-icon>
          </div>
          Appointments
      </ion-tab-button>
      <ion-tab-button (click)="presentActionSheet()">
          <div class="indicator">
            <ion-icon [icon]="settingsIcon"></ion-icon>
          </div>
          Settings
      </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
